.sobremicabezal{        /* Cambia los cabezales de arriba y abajo de todos los modales */
    background: rgb(63,94,251);
    background: linear-gradient(311deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 39%, rgba(152,83,183,1) 53%, rgba(178,80,163,1) 61%);
  }
       
  .sobremicuerpo{        /* Cambia la parte del medio de todos los modales */
    background: rgb(192,54,254);
    background: linear-gradient(311deg, rgba(192,54,254,1) 41%, rgba(235,178,191,1) 61%);
  }
  
  h5.experiencialaboralnombre{   /*Cambia el color de la letra en experiancias laborales */
    color: rgb(218, 15, 15);
  }
  