 <!--Section Sobre mi-->
 <section id="sobremi" class="sobremi">
    <div class="container">
       <div class="row">
          <div class="col-3">
             <h1 class="sobre-mi bajartextosobremi">{{titulosobremi}}</h1>
             <img [src]="fotosobremi" alt="Foto Perfil" class="rounded-circle img-fluid">
          </div>
          <div class="col-9 mt-5 text-center">
             <h5>{{descripcionsobremi}}<br>
               {{descripcionsobremi2}}<br>
               {{descripcionsobremi3}}<br>
               {{descripcionsobremi4}}<br>
               {{descripcionsobremi5}}<br>
               <br>{{descripcionsobremi6}}
             </h5>
          </div>
       </div>
    </div>
 </section>