<!--Section Proyectos-->

<section class="proyectos">
    <div class="container">
       <div class="row">
          <div class="col-4 mt-5 "> <img [src]="imagenproyectos" alt="computacion" class="border border-5 imagencompu"></div>
          <div class="col-4 mt-5"><h1 class="proyectotitulo">{{tituloproyectos}}
          </h1>
          </div>
          <div class="col-4 mt-5"> <h6 class="proyectodescripcion">{{textoproyecto1}}<br>
             {{textoproyecto2}} <br>
             {{textoproyecto3}}
          </h6>
       </div>
       </div>
    </div>
 </section>
