 <!--Section experienciaLaboral-->
 <section id="experiencialaboral" class="experiencialaboral">
    <div class="container text-center ">
       <div class="row">
          <div class="col-3">
             <h1 class="textoexperiencia">{{tituloexperiencia}}
             </h1>
          </div>
          <div class="col-6 mt-2 ">
             <h3 class="letras-exp textolugar">{{descripcionexperiencia}}<br>
                {{descripcionexperiencia2}}
             </h3>
          </div>
          <div class="col-3">
             <div id="carouselExampleSlidesOnly" class="carousel slide experienciaimagen" data-bs-ride="carousel">
                <div class="carousel-inner mt-2 border border-5 rounded">
                   <div class="carousel-item active" *ngFor="let experiencia of experiencias">
                      <img [src]="experiencia.foto" class="d-block w-100" alt="Golosinas">
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>