<!--Editar banner-->
<div class="modal fade" id="BannerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center modal-xl">
        <div class="modal-content">
            <div class="modal-header sobremicabezal">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Banner</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body banner2 sobremicuerpo">
                <div class="mb-3">
                    <label for="formFile" class="form-label">
                        <h5 class="bannertext">Cambiar imagen Banner1</h5>
                    </label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">
                        <h5 class="bannertext">Cambiar imagen Banner2</h5>
                    </label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">
                        <h5 class="bannertext">Cambiar imagen Banner3</h5>
                    </label>
                    <input class="form-control" type="file" id="formFile">
                </div>
            </div>
            <div class="modal-footer banner3 sobremicabezal">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>